body {
    background-color: rgb(235, 255, 255);
    margin: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    margin-top: -20px;
}

#infoPersonal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./img/background.jpg");
    padding-top: 20px;
    color: white;
}

#imgCV{
    width:200px;
    border-radius: 150px;
}

div{
    text-align: justify;
}

.blur_effect {
    filter: blur(50px);
}